.NavbarComp{
    /* border: 1px solid red; */
    /* background-color: #E8175D; */
    background-color: white;
    /* height: 65px; */
    padding: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
}

.CompanyLogo{
    /* border: 1px solid red; */
    width: 110px;
    height: 70px;
}

.CompanyLogo > img{
    width: 100%;
    height: 100%;
}


.NavbarMenu{
    /* border: 1px solid red; */
    width: 47%;
  }

  .NavbarUlist{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    padding: 0px !important;
  }

  .NavbarUlist > li > a:hover{
    color: #E8175D !important;
    /* color: white; */
    /* color: white; */
    cursor: pointer;
    border-bottom: 2px solid  #E8175D ;
    /* transition: 0.2s ease; */
   }

   .NavbarUlist > button{
    padding: 8px;
    border: none;
    background-color: #E8175D ;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
   }

   .NavbarUlist > button:hover{
    background-color: #f30755;
   }


   li{
    text-decoration: none;
    margin: 0px !important;
    padding: 0px !important;
    list-style-type: none;
    font-size: 17px;
    font-weight: 600;
    }
  
    li > a {
      text-decoration: none;
      /* color: #F2A900; */
      color: #E8175D;
      padding-bottom: 3px;
    }

    .SignInCartComp{
        /* border: 1px solid red; */
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .SignInCartComp > p{
        margin: 0px;
        cursor: pointer;
    }

    .HamburgerMenu{
        margin-left: 15px !important;
        font-size: 18px;
        font-weight: 700;
        display: none;
    }

    .HamburgerMenuClose{
        font-size: 16px;
        font-weight: 700;
        display: none;
    }




    /* ------------------------ */

    @media screen and ( max-width : 1168px){      
        .NavbarMenu{
          /* border: 1px solid rgb(15, 11, 11); */
          width: 50%;
        } 
    }

    @media screen and ( max-width : 850px){  
        .HamburgerMenu{
            display: block;
            margin-left: 30px;
        }

        .SignInCartComp{
            width: 200px;
        }


        .HamburgerMenuClose{
            font-size: 18px;
            font-weight: 700;
            /* display: block; */
            /* border: 1px solid rgb(189, 189, 12); */
            /* text-align: right;     */
            display: flex;
            /* align-items: right !important;  */
            justify-content: right; 
            padding: 10px;      
        }

        .HamburgerMenuClose > p{
            background-color: #E8175D;
            padding: 6px;
            margin: 0px;
            color: white;
            width: 25px;
            border-radius: 50px;
        }

        .NavbarComp{
            position: fixed;
            /* width: 98%; */
        }    

        .NavbarMenu{
          border: 1px solid rgb(0, 4, 255);
          background-color: rgb(255, 255, 255);
          position: fixed;
          top: 0px;
          left: -510px;
          right: 0px;
          width: 60%;
          z-index: 3;
          height: 100vh;
          transition: 0.5s ease-in-out;
        }

        .ActiveMobMenu{
            /* border: 1px solid rgb(0, 4, 255); */
            background-color: rgb(255, 255, 255);
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            width: 60%;
            z-index: 3;
            height: 100vh;
            transition: 0.5s ease-in-out;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
          ;
        }

        .NavbarUlist{
            /* border: 1px solid green; */
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            /* padding: 0px 15px !important; */
        }
        .NavbarUlist > li{
           /* margin-bottom: 20px !important; */
           /* border-bottom: 1px solid grey; */
           /* border-top: 1px solid grey; */
           padding: 20px !important;
        }


    }
