.ShopComp{
    /* border: 1px solid red; */
    padding: 20px 0px;
    margin: 0px 40px
}

.ShopHeading{
    /* border: 1px solid green; */
    margin-top: 20px;
}

.ShopHeading > p{
    margin: 0px;
    font-size: 28px;
    font-weight: 700;
    padding: 15px 0px;
    background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}

.ShoppingComp{
    /* border: 1px solid rgb(238, 18, 54); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.ShopButtons{
    padding: 10px;
    /* border: 1px solid green; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.ShopButtons > button{
  padding: 8px;
  border: none;
  background-color: #e7e5e5;
  color: #3C3C3C;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  width: 75px;
}

.ShopButtons > button:hover{
    background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
    color: white
}

.ShoppingCardsComp{
    /* border: 1px solid green; */
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ShoppingCard{
    /* border: 1px solid red; */
    width: 280px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.CardImage{
    height: 300px;
    width: 280px;
    cursor: pointer;
    /* background-image: url(../assets/CardBgImage.png); */
    /* background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%); */
}

.CardImage>img{
    height: 300px;
    width: 280px;
    object-fit: contain;
    border-radius: 4px 4px 0px 0px;
    /* transition: transform .5s ease; */
}

/* .CardImage:hover img{
    transform: scale(1.1);
} */

.CardContent{
    /* border: 1px solid red; */
    text-align: left;
    padding: 0px 10px;
    margin-top: 15px;    
}

.CardContent p{
    margin: 5px 0px 10px 0px;
    font-size: 14px;
    font-weight: 500;
}

.CardClothesName > p{
    font-size: 17px;
    font-weight: 400;
}

.CardClothesAmount{
    padding-bottom: 8px;
}

.CardClothesAmount > p{
    margin: 5px 0px;
    font-size: 17px;
    font-weight: 600;
}

.ShopBanner{
    /* border: 1px solid red; */
    margin-top: 10px;
    /* padding: 10px; */
    /* background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%); */
    background-color: #E8175D;
}

.ShopBannerImage{
    /* width: 100%; */
    /* height: 350px; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;   
}

.ShopBannerImage > img{
    width: 100%;
    /* height: 350px; */
    object-fit: contain;
 
    
}